*~
*.log
Makefile.conf
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
servletada.gpr
servletada_tests.gpr
servletada_aws.gpr
servletada_all.gpr
servletada_ews.gpr
samples.gpr
t.gpr
servletada_unit.gpr
tests.xml
servlet-tests.xml
autom4te.cache
bin/
obj/
lib/
servlet-aunit.xml
regtests/results
cover
wiki
alire
servlet.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
