*~
*.log
Makefile.conf
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
t.gpr
tests.xml
servlet-tests.xml
bin/
obj/
lib/
servlet-aunit.xml
regtests/results
cover
wiki
alire
servlet.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
