*~
*.log
Makefile
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile
servlet.gpr
servlet_tests.gpr
servlet_aws.gpr
servlet_core.gpr
t.gpr
servlet_unit.gpr
tests.xml
servlet-tests.xml
autom4te.cache
bin/
obj/
lib/
servlet-aunit.xml
regtests/result/
regtests/servlet-testsuite.adb
